<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Signin</title>
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
</head>

<body>
  <div style="width:500px;margin:50px auto;text-align: center;">
    <h2>User Signin</h2>
    <br />

    <div class="form-group">
      <label for="username">Username:</label>
      <input id="username" type="text" class="form-control" style="width:250px;margin:0 auto;">
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input id="password" type="password" class="form-control" style="width:250px;margin:0 auto;">
    </div>

    <button id="loginBtn" class="btn btn-success" style="width:250px;">Login</button>
  </div>

  <script>
    $(function () {
      $("#loginBtn").click(function () {
        var username = $("#username").val();
        var password = $("#password").val();

        $.ajax({
          url: "/user/signin",
          type: "POST",
          data: {
            "username": username,
            "password": password
          },
          success: function (resp) {

            if (resp && resp.data) {
              localStorage.setItem("token", resp.data.token);
              localStorage.setItem("username", resp.data.username);
              window.location.href = resp.data.location;
            } else {
              alert("登录失败，返回数据格式不正确");
            }
          },
          error: function (jqXHR, textStatus, errorThrown) {
            console.error("请求失败:", textStatus, errorThrown);
            alert("登录失败: " + textStatus);
          }
        });
      });
    });
  </script>
</body>
</html>
